{{ define "nav" }}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <span class="fs-4 fw-bold text-primary">Pika<span class="text-dark">Clean</span></span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/prices">Услуги</a>
                </li>
                {{ if .auth }}
                <li class="nav-item">
                    <a class="nav-link" href="/users/profile">Профиль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/logout">Выйти</a>
                </li>
                {{ else if .worker }}
                <li class="nav-item">
                    <a class="nav-link" href="/worker">Панель управления</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/worker/profile">Профиль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/logout">Выйти</a>
                </li>
                {{ else }}
                <li class="nav-item">
                    <a class="nav-link" href="/auth/signin">Войти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/signup">Зарегистрироваться</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>

{{ end }}